<html>
<head>
<style>
	body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
</style>
</head>
<body>
	<form method="post" action="../controller/logincheck.php" enctype="">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<fieldset>
						<legend><h3>LOGIN</h3></legend>
						User Id<br/>
						<input type="text" name="id"><br/>                               
						Password<br/>
						<input type="password" name="password">
						<br /><hr/>
						<input type="button" name="submit" value="Login">
						<a href="registration.html">Register</a>
					</fieldset>
				</td>
			</tr>                                
		</table>
	</form>
</body>
</html>

